---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="site-description" style="font-size:12px; margin: 5px; padding: 2px;">
  <i class="svg-icon tags" style="width: 15px; height: 15px;"></i> &nbsp;
  {% for tag in site.tags %}
    {{ tag[0] }} &nbsp;
  {% endfor %}
</div>  
